/*
body{
    font-family: sans-serif;
}
.wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color:#B0D7FD;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 300px;
    width: 300px;
    position: relative;
    perspective: 1000px;
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 10px;
}
.front{
   background-color: white;
}
.back{
    background-color: sandybrown;
    transform: rotateY(180deg);
}
.card:hover .front{transform: rotateY(180deg);}
.card:hover .back{transform: rotateY(360deg);}*/

.container {
    position: relative;
    width: 250px;
    height: 320px;

}
.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;

}
.thecard:hover {
    transform: rotateY(180deg);
}

.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #ffc728;
    color: #333;
    text-align: center;
    font-family: sans-serif;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
}

.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #5fcf80;
    color: #333;
    text-align: center;
    font-family: sans-serif;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    transform: rotateY(180deg);
}